@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

.menu {
  border-bottom: 1px solid #eee;
  padding: 0 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.global-menu {
  height: 44px;
}

.local-menu {
  height: 43px;
}

.d-flex {
  display: flex;
}

.global-text {
  text-decoration: none;
  color: #000;
}

.local-text {
  text-decoration: none;
  color: #000;
}

.local-text.product-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.mr-auto {
  margin-right: auto;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.h-100per {
  height: 100%;
}
